@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-color: #fff;
  --color-nav-color: #4B4B4B;
  --color-close-color: #BEBEBE;
  --font-bricolage: Bricolage Grotesque, "sans-serif";
  --font-montserrat: Montserrat, "sans-serif";
}

@layer base {
  h3 {
    color: #333;
    font-size: .95rem;
    font-weight: 600;
  }

  .brand h3{
    color: hsl(0, 0%, 76%);
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@layer components {
  .wrapper {
    max-inline-size: 95%;
    margin-inline: auto;
  }
  .content-wrapper {
    max-inline-size: 80%;
    margin-inline: auto;
  }

  .button {
    padding-block: 1rem;
    padding-inline: 2rem;
    background: lightblue;
    border-radius: 100vmax;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 15rem;
    row-gap: 2rem;
    justify-items: center;
  }

  .card {
    border: 2px solid greenyellow;
    padding: 1rem;
  }

  .card:first-child {
    border-color: green;
  }

  .texts {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .branding-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .branding-cards .card {
    background-color: whitesmoke;
    border: none;
    box-shadow: 1px 1px 1px 0px rgba(255,255,255,0.55);
    padding: .5rem;
    
  }

  @media screen and (min-width: 768px) {
    .branding-cards {
         grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    
  }
}