@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-color: #fff;
  --color-nav-color: #4B4B4B;
  --color-close-color: #BEBEBE;
  --font-poppins: "Poppins", "sans-serif"
}

@layer base {
  h3 {
    color: #333;
    font-size: .95rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@layer components {
  .wrapper {
    max-inline-size: 80%;
    margin-inline: auto;
  }

  .button {
    padding-block: 1rem;
    padding-inline: 2rem;
    background: lightblue;
    border-radius: 100vmax;
  }

}